html {
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  overflow: hidden;
  border: 2px solid #ccc;
  position: relative;
  max-height: 500px;
}

.card-body {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  max-width: 45em;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1em;
}

p {
  text-align: left;
  font-style: italic;
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

span {
  font-size: 4rem;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

h2 {
  line-height: 1.4;
}
