html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
font-family: "Open Sans" ,sans-serif;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  overflow: hidden;
  border: 2px solid #ccc;
  position: relative;
  max-height: 500px;
}

.card-body {
  position: absolute;
  width: 100%;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}

p {
  text-align: left;
  font-style: italic;
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

.card-title {
  font-size: 4rem;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
